<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="js/materialize.min.js" defer></script>

  <title>MFG | Login</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper indigo">
      <a href="#" class="brand-logo left">Logo</a>
      <ul id="nav-mobile" class="right hide-on-sm-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="/users">Contactos</a></li>
      </ul>
    </div>
  </nav>
  <div class="container center">
    {{{content}}}
  </div>


</body>

</html>