<h1>new User</h1>
<form>
  <label for="userId" name="userId">User Id:</label>
  <input type="text" name="userId">
  <label for="password" name="password">Password:</label>
  <input type="text" name="password">
  <button type="submit">Register</button>
</form>